@import '_utilities';

html {
  body {
    @include media('<desktop') {
      @include media('>tablet') {
        padding-left: $menu-width;
      }

      &.show-menu {
        app-menu {
          transform: none;
        }

        .backdrop {
          opacity: 0.75;
        }
      }
    }

    @include media('<=tablet') {
      padding-bottom: $menu-height;
    }
  }
}
